# Web server for Koyeb Health Checks
aiohttp

# Bot Core & Telegram
Telethon
FastTelethonhelper

# APIs & Scrapers
yt-dlp>=2025.1.15
spotipy
spotdl
shazamio
lyricsgenius

# Database & Async (aiosqlite is needed, but asyncio is built-in)
aiosqlite

# Utils & Media (hashlib is built-in)
pillow
python-dotenv
wget
lxml

# Automation
selenium
webdriver_manager

yt-dlp==2025.01.26
