# Web server for Koyeb Health Checks
aiohttp

# Bot Core & Telegram
Telethon
FastTelethonhelper

# APIs & Scrapers
yt-dlp>=2025.1.15
spotipy
spotdl
shazamio
lyricsgenius

# Database & Async
aiosqlite
asyncio

# Utils & Media
pillow
python-dotenv
wget
lxml
hashlib

# Automation (If still used by your plugins)
selenium
webdriver_manager
